<div full-page options="$ctrl.fullpageOpts">
    <div class="section section1">
        <div id="scene">
            <div data-depth="0.2">
            	<a ui-sref="signup" class="btn btn-primary">Signup</a>&nbsp;<a ui-sref="login" class="btn btn-primary">Login</a>
            </div>
            <div data-depth="0.6" class="layer">
            	<img src="assets/img/football.png" alt="">
            </div>
        </div>
    </div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
</div>