// Fool-proof @font-face */
// Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$file-path}.woff') format('woff'),
        url('#{$file-path}.ttf') format('truetype'),
        url('#{$file-path}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
    } // Chrome for Windows rendering fix: https://www.adtrak.co.uk/blog/font-face-chrome-rendering/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-family;
            src: url('#{$file-path}.svg##{$font-family}') format('svg');
        }
    }
}
@include font-face('RobotoRegular', '../fonts/RobotoRegular', 400, normal);
@include font-face('RobotoMedium', '../fonts/RobotoMedium', 500, normal);
@include font-face('RobotoBold', '../fonts/RobotoBold', 700, normal);
@include font-face('RobotoLight', '../fonts/RobotoLight', 300, normal);

@mixin regular() {
    font-family: 'RobotoRegular', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
@mixin medium() {
    font-family: 'RobotoMedium', arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}
@mixin bold() {
    font-family: 'RobotoBold', arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin light() {
    font-family: 'RobotoLight', arial, sans-serif;
    font-weight: 300;
    font-style: normal;
}

